{% extends 'Base.html' %}
{% block title %}
<div style="text-align: center;width: auto; margin-top: 100px; margin-bottom: 30px;">
    
</div>
{% endblock %}

{% block contents %}
<div class="container">
  <div class="row" >
    <div class="col col-sm-12" style="text-align: center;">
      
      <p>test</p><img width="450px" src="../../media/img/halloween1.jpg" style="margin-bottom: 10px;"/>
      </br></br>
      <img width="450px" src="../../media/img/halloween2.png"/><p>test2</p>
      
     
    </div>
  </div>      
</div>





{% endblock %}