{% extends 'Base.html' %}
{% block title %}
<div style="text-align: center;width: auto; margin-top: 100px; margin-bottom: 30px;">
    
</div>
{% endblock %}

{% block contents %}
{% load static %}
<div class="container">
  <div class="row" style="margin-bottom: 100px;">
    <div class="col col-sm-8" style="text-align: center; height:auto;  display:table"> 
      <p style="font-weight: 800; font-size: 60px;vertical-align: middle;display:table-cell">Ne manquez surtout pas la Méga-Vente d'Halloween le <span>3 Novembre 2019</span> prochain!</p>
    </div>
    <div class="col col-sm-4" style="text-align: center;"> 
      <img width="450px" src="../../media/img/halloween1.jpg" style="margin-bottom: 10px;"/>
    </div> 
  </div>   

  <div class="row" style="margin-bottom: 100px;"> 
    <div class="col col-sm-4" style="text-align: center;"> 
      <img width="450px" src="../../media/img/halloween2.png" style="margin-bottom: 10px;"/>
    </div> 
    <div class="col col-sm-1" > 
    </div>
    <div class="col col-sm-7" style="text-align: center; height:auto; vertical-align: middle; display:table"> 
      <p style="font-weight: 800; font-size: 40px;vertical-align: middle;display:table-cell">La super Chasse au citrouilles aura lieu le <span>3 Novembre 2019</span> prochain au 3845 rue des Poiles! Venez en grand nombre</p>
    </div>
  </div>

  {% if produitscompte >= 1 %}
    <div class="col col-lg-12" style="text-align: center;margin-bottom: 30px;">
      <h2 style="font-weight: 800;">Nos Rabais</h2>
    </div>
  {% endif %}
  <div class="col col-lg-12">
    <div class="row" style="margin-bottom: 30px;">
    {% for produit in produits %}
          <div class="card" style="width: 15rem;margin:7px;">
            <a href="../fruit/{{produit.id}}" style="color:black !important;">
            <div style="position: relative;">
              {% for r in rabais %}
                {% if produit.promotion.id == r.id %}
                  <div class="rabais"><h3>{{r.valeur}} {{r.type_rabais}}</h3></div>
                {% endif %}
              {% endfor %}
            </div>
              
            {% if produit.image_default is None %}
            <img class="card-img-top" src="{% static 'img/default.jpg' %}" alt="Card image cap" style="margin-top: 5px; height: 180px;">              
            {% else %}
            <img class="card-img-top" src="{{ produit.image_default.url }}" alt="Card image cap" style="margin-top: 5px; height: 180px;">
            {% endif %}
              
              <div class="card-body">
                  <div style="height:120px">
                    <h4 class="card-title"><b>{{produit.nom_produit}}</b></h4>
                  </div>

                  <div style="height:60px">
                    <h6 class="card-title">{{produit.description_produit}} (environ {{produit.poids}} g)</h6>
                  </div>
                    <h6 class="card-title" style="text-decoration: line-through;">{{produit.prixBase}} $</h6>
                    <h6 class="card-title" style="font-weight: bolder;">{{produit.PrixFinal}} $</h6>
                  <a class="dot" href="#"><i class="fa-solid fa-cart-plus icon" style></i></a>
              </div>
            </a>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}