{% extends 'Base.html' %}
{% block title %}
<div style="text-align: center;width: auto; margin-top: 100px; margin-bottom: 30px;">
    
</div>
{% endblock %}

{% block contents %}
<div class="container">
  <div class="row" style="margin-bottom: 100px;">
    <div class="col col-sm-8" style="text-align: center; height:auto;  display:table"> 
      <p style="font-weight: 800; font-size: 60px;vertical-align: middle;display:table-cell">Ne manquez surtout pas la Méga-Vente d'Halloween le <span>3 Novembre 2019</span> prochain!</p>
    </div>
    <div class="col col-sm-4" style="text-align: center;"> 
      <img width="450px" src="../../media/img/halloween1.jpg" style="margin-bottom: 10px;"/>
    </div> 
  </div>   

  <div class="row" style="margin-bottom: 100px;"> 
    <div class="col col-sm-4" style="text-align: center;"> 
      <img width="450px" src="../../media/img/halloween2.png" style="margin-bottom: 10px;"/>
    </div> 
    <div class="col col-sm-1" > 
    </div>
    <div class="col col-sm-7" style="text-align: center; height:auto; vertical-align: middle; display:table"> 
      <p style="font-weight: 800; font-size: 40px;vertical-align: middle;display:table-cell">La super Chasse au citrouilles aura lieu le <span>3 Novembre 2019</span> prochain au 3845 rue des Poiles! Venez en grand nombre</p>
    </div>
  </div>  
      
  
      
     
    
</div>





{% endblock %}