{% extends 'Base.html' %}
{% block title %}

<div style="text-align: center;width: auto; margin-top: 100px; margin-bottom: 30px;">
    <h1><b>Produits - {{ categorienom }}</b></h1>
</div>
{% endblock %}

{% block contents %}
{% load static %}
<div class="container">
  <div class="row" >
    
    <div class="col col-sm-2 side-nav" style="background-color: gray; margin-top:10px;margin-bottom:40px;border-radius: 2%;">
      <div class="recherche">
        
        <form action="" method="post">{% csrf_token %}
          <div style="text-align: center">
            <div style="display: inline-block;">
              <input style="width:150px; float:left; height:40px;" name="recherche" type="text" placeholder="Rechercher..."></input>
              <button style=" float:left; height:40px;" type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </div>
        </form>

        
      
      </div>
      <div class="title">
        <p>Catégories</p>
      </div>
      <div class="element">
        {% for cat in categories %}
          {% if cat.nom == categorienom %}
            <a href="{% url 'categorie' cat.id filtre %}" style="color:white !important; font-weight: 800;">{{ cat.nom }}</a></br>
          {% else %}
            <a href="{% url 'categorie' cat.id filtre %} " style="color:black !important; font-weight: 600;">{{ cat.nom }}</a></br>
          {% endif %}
        {% endfor %}
      </div>
      <div class="title">
        <p>Filtre</p>
      </div>
      <div class="element">
        {% if filtre == 0 %}
          <a href="0" style="color: white !important; font-size: 20; font-weight: 800;">Aucun</a></br>
        {% else %}  
        <a href="0" >Aucun</a></br>
        {% endif %}

        {% if filtre == 1 %}
        <a href="1" style="color: white !important; font-size: 20; font-weight: 800;">Moins de 5$</a></br>
        {% else %}  
        <a href="1" >Moins de 5$</a></br>
        {% endif %}

        {% if filtre == 2 %}
        <a href="2" style="color: white !important; font-size: 20; font-weight: 800;">Rabais</a></br>
        {% else %}  
        <a href="2" >Rabais</a></br>
        {% endif %}
      </div>
      
    </div>
    
    <div class="col col-lg-10">
      <div class="row" style="margin-bottom: 30px;">
      {% for produit in produits %}
        
          
          
            <div class="card" style="width: 15rem;margin:7px;">
              <a href="../../fruit/{{produit.id}}"> 
              <div style="position: relative;">
                {% for r in rabais %}
                  {% if produit.promotion.id == r.id%}
                    <div class="rabais"><h3>{{r.valeur}} {{r.type_rabais}}</h3></div>
                  {% endif %}
                {% endfor %}
              </div>
              
              {% if produit.image_default is None %}
              <img class="card-img-top" src="{% static 'img/default.jpg' %}" alt="Card image cap" style="margin-top: 5px; height: 180px;">              
              {% else %}
              <img class="card-img-top" src="{{ produit.image_default.url }}" alt="Card image cap" style="margin-top: 5px; height: 180px;">
              {% endif %}
                
                <div class="card-body">
                    <div style="height:120px">
                      <h4 class="card-title"><b>{{produit.nom_produit}}</b></h4>
                    </div>

                    <div style="height:60px">
                      <h6 class="card-title">{{produit.description_produit}} (environ {{produit.poids}} g)</h6>
                    </div>
                    
                      {% if produit.prixBase == produit.PrixFinal %}
                        <h6 class="card-title" >{{produit.prixBase}} $</h6>
                      {% else %}
                      <h6 class="card-title" style="text-decoration: line-through;">{{produit.prixBase}} $</h6>
                      <h6 class="card-title" style="font-weight: bolder;">{{produit.PrixFinal}} $</h6>
                      {% endif %}
                    
                    
                    <a class="dot" href="#"><i class="fa-solid fa-cart-plus icon" style></i></a>
                </div>
              </a>
              </div>
            
            
        {% endfor %}
      </div>
    </div>
  </div>
      
        
</div>





{% endblock %}