{% extends 'Base.html' %}
{% block title %}
<div style="text-align: center;width: auto; margin-top: 100px; margin-bottom: 30px;">
    <h1><b>Produits - {{ categorienom }}</b></h1>
</div>
{% endblock %}

{% block contents %}
<div class="container">
  <div class="row" >
    
    <div class="col col-sm-2 side-nav" style="background-color: gray; margin-top:10px;margin-bottom:40px;border-radius: 2%;">
      <div class="recherche">
        <form>
          <div style="text-align: center">
            <label style="font-size: 15px; font-weight: bold;" for="recherche">Recherchez un produit</label>
            <div>
              <input style="width:150px" name="recherche" type="text" placeholder="Rechercher..."></input>
              <button>test</button>
            </div>
          </div>
          
        </form>
      </div>
      <div class="title">
        <p>Catégories</p>
      </div>
      <div class="element">
        {% for cat in categories %}
          <a href="{% url 'categorie' cat.id %}">{{ cat.nom }}</a></br>
        {% endfor %}
      </div>
      <div class="title">
        <p>Filtre</p>
      </div>
      <div class="element">
        <a href="#">Moins de 5$</a></br>
        <a href="#">Rabais</a></br>
      </div>
      
    </div>
    
    <div class="col col-lg-10">
      <div class="row" style="margin-bottom: 30px;">
      {% for produit in produits %}
        {% if produit.categorie.id == categorie %}
            <div class="card" style="width: 15rem;margin:7px;">
              <div style="position: relative;">
                
                    <div class="rabais"><h3>-15 %</h3></div>
                  
              </div>
                
                <img class="card-img-top" src="{{ produit.image.url }}" alt="Card image cap" style="margin-top: 5px; height: 180px;">
                <div class="card-body">
                    <div style="height:120px">
                      <h4 class="card-title"><b>{{produit.nom_produit}}</b></h4>
                    </div>
                    <div style="height:60px">
                      <h6 class="card-title">{{produit.description_produit}} (environ {{produit.poids}} g)</h6>
                    </div>
                    
                    <h6 class="card-title">{{produit.prix}} $</h6>
                    <a class="dot" href="#"><i class="fa-solid fa-cart-plus icon" style></i></a>
                    
                  
                </div>
            </div>
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
      
        
</div>





{% endblock %}