{% extends 'Base.html' %}
{% block title %}
<div style="text-align: center;width: auto; margin-top: 100px; margin-bottom: 30px;">
    <h1><b>Paiement réussi</b></h1>
</div>
{% endblock %}

{% block contents %}
{% load static %}
<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">

                    <div class="card-header py-3">
                        <h5 class="mb-0" style="text-align: center;">Résumé de la transaction</h5>
                    </div>



                    <div class="card-body" style="border:0px; border-bottom: 1px; border-color: black; border-style: solid; margin:10px">
                        <h4 class="mb-0">Pomme macintosh</h4>
                        <h6 class="mb-0">Quantité : 3</h6>
                        <h6 class="mb-0">prix : 3.59$ / unité</h6>
                    </div>
                    <div class="card-body" style="border:0px; border-bottom: 1px; border-color: black; border-style: solid; margin:10px">
                        <h4 class="mb-0">Pomme macintosh</h4>
                        <h6 class="mb-0">Quantité : 3</h6>
                        <h6 class="mb-0">prix : 3.59$ / unité</h6>
                    </div>
                    <div class="card-body" style="border:0px; border-bottom: 1px; border-color: black; border-style: solid; margin:10px">
                        <h4 class="mb-0">Pomme macintosh</h4>
                        <h6 class="mb-0">Quantité : 3</h6>
                        <h6 class="mb-0">prix : 3.59$ / unité</h6>
                    </div>
                    <div class="card-body" style="border:0px; border-bottom: 1px; border-color: black; border-style: solid; margin:10px">
                        <h4 class="mb-0">Pomme macintosh</h4>
                        <h6 class="mb-0">Quantité : 3</h6>
                        <h6 class="mb-0">prix : 3.59$ / unité</h6>
                    </div>





                    <div class="card-body">
                        <h3 class="mb-0" style = "font-weight: 600; text-align: right;">Prix total : 28.90$</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-bottom: 30px;">
        <button type="button" class="btn btn-primary">Retourner à l'accueil</button>
    </div>
{% endblock %}