{% extends 'Base.html' %}
{% block title %}
<div style="text-align: center;width: auto; margin-top: 100px; margin-bottom: 30px;">
    <h1><b>Panier</b></h1>
</div>
{% endblock %}

{% block contents %}
{% load static %}


<section class="h-100 gradient-custom" >
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              
              <h5 class="mb-0">Nombre de produit : {{count}}</h5>
            </div>
            <input type="hidden" id="nbProduit" value="{{count}}">
            {% if produits is not None %}
            {% with x=1 %}
              {% for produit in produits %}
              
              <div class="card-body">



                <!-- Single item -->
                <div class="row">
                  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">

                    
                    <!-- Image -->
                    <div class="hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                      <img class="card-img-top" src="{{ produit.produit_du_panier.image_default.url }}" alt="Card image cap" style="margin-top: 5px; height: 180px;"/>
                      <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                      </a>
                    </div>
                    <!-- Image -->
                    

                  </div>
    
                  <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                    <!-- Data -->
                    <p><strong> {{ produit.produit_du_panier.nom_produit }}</strong></p>
                    <p>Categorie : {{ produit.produit_du_panier.categorie }}</p>
                    <p>Description : {{ produit.produit_du_panier.description_produit }}</p>
                    <a type="button"  href="{% url 'produit_panier_delete' produit.produit_du_panier.id %}" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                      title="Remove item">
                      <i class="fas fa-trash"></i>
                  </a>
                    
                    <!-- Data -->
                  </div>
                  
    


                  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" style="text-align: center;">
                    <!-- Quantity -->
                    <div class="d-flex mb-4" style="text-align: center;">
                      
    
                      <div style="width:100%">
                        <input id="form1" min="0" name="quantity_{{forloop.counter}}" value="{{produit.quantite}}" type="number" onchange="Prix('{{forloop.counter}}','{{produit.id}}',this.value, '{{produit.produit_du_panier.PrixFinal}}','{{count}}');" class="form-control" />
                        <label class="form-label" for="form1">Quantite</label>
                      </div>
    
                      
                    </div>
                    <!-- Quantity -->
    
                    <!-- Price -->
                    <p class="text-start text-md-center">
                      <strong><label id="price_{{produit.id}}">{{produit.prix_quantite | floatformat:"-2" }}$</label></strong>
                      <input type="hidden" id="prix_quantite_{{ forloop.counter }}" value="{{produit.prix_quantite}}">
                    </p>
                    <!-- Price -->
                  </div>
                </div>
              </div>
              
              {% endfor %}
              {% endwith %}

              {% else %}
              <div class="card-body">
                <Label>Vous n'avez pas de produit dans votre panier</Label>
              </div>
              {% endif %}
              <!-- Single item -->
  
              <hr class="my-4" />
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p><strong>Expected shipping delivery</strong></p>
              <p class="mb-0">12.10.2024 - 14.10.2024</p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>We accept</strong></p>
              <img class="me-2" width="75px" style="border-width: 1 !important; border-color: black; border-style: solid;"
                src="{% static 'img/paypal.png' %}"
                alt="PayPal acceptance mark" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Summary</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  Products
                  <span>$53.98</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  Shipping
                  <span>Gratis</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Total amount</strong>
                    <strong>
                      <p class="mb-0">(including VAT)</p>
                    </strong>
                  </div>
                  <span><strong><p id="prix_total"></p></strong></span>
                </li>
              </ul>
  
              <a href ="../../paiement" class="btn btn-primary btn-lg btn-block">
                Go to checkout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    
    





{% endblock %}