{% extends 'Base.html' %}
{% block title %}
<div style="text-align: center;width: auto; margin-top: 100px; margin-bottom: 30px;">
    <h1><b>Confirmation Paiement</b></h1>
</div>
{% endblock %}

{% block contents %}
{% load static %}
<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">

                    <div class="card-header py-3">
                        <h5 class="mb-0" style="text-align: center;">Résumé de la transaction</h5>
                    </div>


                    {% for produit in produits %}
                        <div class="card-body" style="border:0px; border-bottom: 1px; border-color: black; border-style: solid; margin:10px">
                            <h4 class="mb-0">{{produit.produit_du_panier}}</h4>
                            <h6 class="mb-0">Quantité : {{produit.quantite}}</h6>
                            <h6 class="mb-0">prix : {{produit.prix_quantite}}$</h6>
                        </div>
                    {% endfor %}
                    





                    <div class="card-body">
                        <h4 class="mb-0" style = "font-weight: 400; text-align: right;">Prix total : {{prixtotal}}$</h4>
                        <h4 class="mb-0" style = "font-weight: 400; text-align: right;">Livraison : 0.00$</h4>
                        <h4 class="mb-0" style = "font-weight: 400; text-align: right;">Taxes : {{taxes}}$</h4>
                        <h3 class="mb-0" style = "font-weight: 600; text-align: right;">Prix final : {{prixfinal}}$</h3>
                    </div>

                    <div style="text-align: right; margin-bottom: 30px;">
                        {{ form.render }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

{% endblock %}